*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   overflow: 
}
nav{
    background: linear-gradient(black , grey);
  color: white;
  height: 80px;
  width: 100vw;
  text-align: center;
  display: inline-block;
  

  /* display: flex;
 text-align: center;
 justify-content: space-around; */
}

a{
    position: relative;
   padding: 5%;
   right:180px;
   top:30px

}
img{
    height: 70vh;
    width: 100vw;
}
#Home{
    background-color: white;
    color: black;
    margin-right: 50px;
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 5px;
}
.main{
    width: 30vw;
margin-top: 20px;
   }
main{
    display: flex;
    justify-content: space-around;
}
footer{
    height: 500px;
    margin-top: 20px;
    background-color: black;
   display: flex;
   
    
}
p{
    color: white;
 margin-top: 250px;
padding-left:50px;
    
}
#footerimage{
    padding: 30px;
    margin-right: 200px;
   
}